* {
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: base;
}

body.overflow {
    overflow: hidden;
}

a {
    cursor: pointer;
    color: #d2d9d9;
}

i {
    margin-right: 5px;
}

header {
    position: fixed;
    top: 0;
    text-align: center;
    color: #d2d9d9;
    background-color: #222222;
    width: 100%;
    height: 70px;
    z-index: 5;
}

h3 {
    float: left;
    font-size: 2em;
    line-height: 8vh;
    padding-left: 4%;
    margin: 0;
    color: #d2d9d9;
}

h3:hover {
    cursor: pointer;
}

header .nav {
    float: right;
    margin-right: 50px;
    height: inherit;
}

header.transparent {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
}

#retour {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 8%;
    width: 50px;
    opacity: 0.3;
}

#retour:hover {
    opacity: 1;
}


/*****************************************************main*/

main {
    height: 400vh;
    margin: 0;
}

main #Home {
    display: flex;
    align-items: center;
    background-image: url(../img/notebook-light.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    border-bottom: 4px solid #ED7300;
}

.introtext {
    margin: 0 auto;
    width: 700px;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, transparent 100%);
    text-align: center;
    color: white;
}

h1 {
    font-family: head;
    font-size: 8em;
}

h2 {
    font-family: base;
    font-size: 2.5em;
}

main #Skills {
    background-color: #222222;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #87C70F;
}

.arrow {
    width: 0;
    height: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    border-style: solid;
    border-width: 23px 32px 0;
    border-color: #333 transparent transparent;
    left: 50%;
    margin-left: -32px;
}

main #Work {
    background-color: #222222;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #00C9BF;
}

main #About_me {
    background-color: #222222;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #FFA3B5;
}


/*******************************************************GaugeMeters***/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 85vh;
    background-color: #383838;
    border: 2px solid #353535;
}

#Skills .back {
    border-left: 1px solid black;
}

#Skills .left {
    display: flex;
    align-items: center;
    height: 60vh;
    border-radius: 10px;
    background-color: #222222;
    border: 2px solid #353535;
    padding: 20px;
}

#Skills .right {
    display: flex;
}

.container div {
    flex: 1;
    text-align: center;
    color: white;
}

#Skills h4, #Skills .container .right .front div, #Skills .container .right .back div {
    margin-bottom: 40px;
}

#Skills .text h4 {
    font-size: 2em;
}

#Skills .text p {
    font-size: 1.2em;
}

.typed-cursor{
    display: none;
}

#Skills i {
    font-size: 4em;
}


/*****************************************************Mozaique**/

#Work .container {
    padding: 0;
    overflow: hidden;
}

#Work .container a {
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
    z-index: 3;
}

#Work .container img {
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
}

#affiche:hover {
    background-color: #ED7300;
}

#roman_photo:hover {
    background-color: #87C70F;
}

#slider:hover {
    background-color: #00C9BF;
}

#animatum:hover {
    background-color: #FFA3B5;
}


/* ---- grid ---- */

#Work .grid {
    background: #383838;
}


/* clear fix */

#Work .grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- .grid-item ---- */

#Work .grid-sizer, .grid-item {
    width: 25%;
}

#Work .grid-item {
    float: left;
}

#Work .grid-item img {
    display: block;
    max-width: 100%;
}

#Work .grid-item div {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#Work .container .grid-item:hover img {
    opacity: 0.2;
    transform: rotate(-15deg) scale(2);
    transition: 1s;
}

#Work .grid-item div h5 {
    font-size: 2.5em;
    display: none;
}

#Work .container .grid-item:hover h5 {
    display: flex;
    transition: 2s;
}

#Work .container .grid-item:hover div {
    background-color: rgba(0, 201, 191, 0.5);
    transition: 2s;
}

/**************************************************nav*/

.nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    height: inherit;
}

.nav ul li {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

header li a {
    line-height: 7vh;
    font-size: 1.1em;
    width: 80px;
    height: inherit;
    text-align: center;
    z-index: 6;
}

header li a:hover {
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

header li:first-child a:hover {
    border-top: 5px solid #ED7300;
}

header li:first-child a.active {
    border-top: 5px solid #ED7300;
    transition: 0.2s ease-in-out;
    color: white;
}

header li:nth-child(2) a:hover {
    border-top: 5px solid #87C70F;
}

header li:nth-child(2) a.active {
    border-top: 5px solid #87C70F;
    transition: 0.2s ease-in-out;
    color: white;
}

header li:nth-child(3) a:hover {
    border-top: 5px solid #00C9BF;
}

header li:nth-child(3) a.active {
    border-top: 5px solid #00C9BF;
    transition: 0.2s ease-in-out;
    color: white;
}

header li:nth-child(4) a:hover {
    border-top: 5px solid #FFA3B5;
}

header li:nth-child(4) a.active {
    border-top: 5px solid #FFA3B5;
    transition: 0.2s ease-in-out;
    color: white;
}

header .nav ul {
    justify-content: flex-start;
}


/******************************************************burger*/

.burger {
    align-self: center;
    display: none;
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 50px;
    height: 50px;
    z-index: 6;
}

.burger:hover {
    cursor: pointer;
}

.burger:hover span {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.burger.cross span:first-child {
    transform: rotateZ(45deg) translateY(10px) translateX(10px);
}
.burger.cross span:nth-child(2) {
    opacity: 0;
}
.burger.cross span:last-child {
    transform: rotate(-45deg) translateY(-5px) translateX(4px);
}

.burger span {
    display: block;
    margin: 5px auto;
    width: 60%;
    height: 5px;
    background-color: #d2d9d9;
}


/******************************************************About_me**/
#About_me .left {
    display: flex;
}
#About_me .l-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 1vw;
}

#About_me .l-right div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#About_me .l-right div:hover {
    background-color: #353535;
    transition: 0.5s;
    border-radius: 10px;
}

#About_me img {
    margin: 0 auto;
}

#About_me h5{
    font-size: 1.8em;
}
#About_me p{
    font-size: 1.3em;
}

#About_me .left {
    height: 500px;
    border-radius: 10px;
    background-color: #222222;
    border: 2px solid #353535;
    padding: 20px;
}

#About_me .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#About_me .right h5, #About_me .right p {
    display: block;
    width: 75%;
}

#About_me .right h5 {
    margin-bottom: 40px;
}


/******************************************************footer*/

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

footer li {
    margin: 8px;
    color: #d2d9d9;
}

footer li a {
    color: #d2d9d9;
    text-decoration: none;
}

footer li a:hover {
    color: white;
    text-decoration: none;
}

#linkedin:hover {
    color: #ED7300;
}

#github:hover {
    color: #87C70F;
}

#mail:hover {
    color: #00C9BF;
}

@font-face {
    font-family: "head";
    src: url("../fonts/Little Kid.woff");
}

@font-face {
    font-family: "base";
    src: url("../fonts/linowrite.ttf");
}

@media all and (max-width: 800px) {
    header .burger {
        display: block;
        z-index: 7;
    }

    header .nav {
        background-color: black;
        transform: translateX(-1000px);
        transition: transform 0.5s;
    }

    header .nav.visible {
        position: absolute;
        display: block;
        z-index: 7;
        background-color: rgba(0, 0, 0, 0.9);
        transform: translateX(0px);
        transition: transform 0.5s;
    }

    header .nav {
        position: absolute;
        height: 100vh;
        width: 100%;

    }

    header .nav ul {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }

    header .nav ul a {
        width: 80%;
        height: 12vh;
        line-height: 11vh;
    }

    header .nav li a.active {
      background-color: rgba(255, 255, 255, 0.2);
      border-bottom: 5px;
    }

    .introtext {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 0px;
        width: 100%;
    }
    #Home h1 {
        font-size: 5em;
    }
    #Home h2 {
        font-size: 1.5em;
    }
    #Skills h4 {
        font-size: 3.5vw;
    }
    #Skills .text h4 {
        font-size: 4.5vw;
    }

    #Skills .text p{
        font-size: 3.5vw;
    }
    #Skills .left {
        height: 50vh;
    }

    #Skills h4, #Skills .container .right .front div, #Skills .container .right .back div {
        margin-bottom: 4vh;
    }

    #Skills i {
      font-size: 3em;
    }

    #Work .grid-sizer, .grid-item {
        box-sizing: border-box;
        width: 50%;
    }

    #Work .grid-item div h5 {
        font-size: 1.5em;
    }

    #About_me .container {
      flex-direction: column;
    }

    #About_me .left {
      width: 100%;
    }

    #About_me .right h5 {
      margin-bottom: 5px;
    }

    #About_me .right p{
      width: 100%;
    }

    #About_me img {
      display: none;
    }

    #About_me h5 {
      font-size: 4vw;
    }

    #About_me p {
      font-size: 2.3vw;
    }

    #retour {
        width: 10vw;
    }

    footer {
        font-size: 2vw;
    }
}
